[submodule "OpenAgent-frontend"]
	path = OpenAgent-frontend
	url = https://github.com/william-mckeon/OpenAgent-frontend.git
[submodule "OpenAgent-api"]
	path = OpenAgent-api
	url = https://github.com/william-mckeon/OpenAgent-api.git
[submodule "OpenAgent-infra"]
	path = OpenAgent-infra
	url = https://github.com/william-mckeon/OpenAgent-infra.git
[submodule "OpenAgent-logger"]
	path = OpenAgent-logger
	url = https://github.com/william-mckeon/OpenAgent-logger.git
[submodule "openagent-memory"]
	path = openagent-memory
	url = https://github.com/william-mckeon/openagent-memory.git
